{% load templates %}

<div class="card my-1">
    <div class="card-body">
        <a href="{% url 'floral_jamming:details' event.id %}">
            <h3 class="card-title text-dark">{{ event.title }}</h3>
        </a>
        <div class="card-text">
            <div>{{ event.time }}</div>  
            <div>
            {% if user|is_staff_user %}
                <div>Participants: {{ event.num_attendees }}/{{ event.capacity }}</div>
            {% elif user|get_pax:event > 0 %}
                <div class="text-success">
                    Registered <span>&#40;</span>{{ user|get_pax:event }} pax<span>&#41;</span>
                </div>
            {% else %}
                <div>Slots remaining: {{ event.remaining_slots }}/{{ event.capacity }}</div>
            {% endif %}
            </div>
        </div>
    </div>
</div>