{% extends 'floral_jamming/layout.html' %} 
{% load static %} 
{% load templates %}

{% block body %}
    {% if user.is_staff %}
        <h1>Floral Jam Staff Page</h1>
        {% url 'floral_jamming:create' as btn_url%}
        {% include 'floral_jamming/components/link_btn.html' with button_label='Create Event' %}
    {% else %}
        <h1 class="my-3">Upcoming Events</h1>
    {% endif %}
    
    {% for event in page %}
        {% include 'floral_jamming/index/event_card.html' %}
    {% empty %}
        <h3 class="my-2">No events yet</h3>
    {% endfor %}

    {% include 'floral_jamming/components/pagination.html' %}

{% endblock %} 

{% block script %}
{% endblock%}
