{% extends 'floral_jamming/layout.html' %} 
{% load static %} 

{% block body %}
    <h2 class="mb-3">
        {{ event|yesno:"Update,Create"}} Event
    </h2>
    {% if message %}
        <div class='text-danger'>{{ message }}</div>
    {% endif %}
    {% if event %}
        {% url 'floral_jamming:create' event.id as url %}
    {% else %}
        {% url 'floral_jamming:create' as url %}
    {% endif %}
    <form action="{{ url }}" method="post">
        {% comment %} TODO: Improve styling {% endcomment %}
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group my-2">
                    {{ field.label_tag }}
                </div>
                <div class="form-group my-2">
                    {{ field }}
                </div>
            {% endfor %}
        <button type="submit" class="btn btn-success">Save Event</button>
    </form>
{% endblock %} 

{% block script %}
{% endblock%}
