{% extends 'floral_jamming/layout.html' %} 
{% load static %} 

{% block body %}
    <h2 class="mb-3">
        {{ event|yesno:"Update,Create"}} Event
    </h2>
    {% if message %}
        <div class='text-danger'>{{ message }}</div>
    {% endif %}

    {% if event %}
        {% url 'floral_jamming:create' event.id as form_url %}
    {% else %}
        {% url 'floral_jamming:create' as form_url %}
    {% endif %} 
    {% include 'floral_jamming/components/form.html' with button_label="Save Event" %}

    {% with button_colour="danger" margin="my-0" %}
        {% if event %}
            {% url 'floral_jamming:delete_event' event.id as btn_url %}
            {% include 'floral_jamming/components/button.html' with button_label="Delete Event" %}
        {% else %}
            {% url 'floral_jamming:index' as btn_url %}
            {% include 'floral_jamming/components/link_btn.html' with button_label="Cancel"%}
        {% endif %}
    {% endwith %}
{% endblock %} 

{% block script %}
{% endblock%}
