{% extends 'floral_jamming/layout.html' %} 
{% load static %} 
{% load templates %}

{% block body %}
    {% if attendee %}
        {% if user|is_email_verified %}
            <div class="card bg-success text-white p-2 m-2">
                <div class="card-text">You've signed up for this event! <span>&#40;</span>{{ attendee.pax }} pax<span>&#41;</span></div>
            </div>
        {% else %}
            <div class="card bg-info text-white p-2 m-2">
                <div class="card-text">
                    We have sent a verification email to {{ user.email }}. Please click the link to confirm your registration.
                </div>
            </div>
        {% endif %}

    {% endif %}
    {% comment %} TODO: Improve styling {% endcomment %}
    <h1>{{ event.title }}</h1>
    <div>{{ event.time }}</div>
    <div>{{ event.location }}</div>
    <div>${{ event.price }}</div>
    <div>{{ event.remaining_slots }}/{{ event.capacity }} slots left</div>
    {% if user|is_staff_user and user == event.creator %}
        <a href="{% url 'floral_jamming:create' event.id %}">
            <button class="btn btn-secondary">Edit Event</button>
        </a>
        <h3>Attendees:</h3>
        <div>
            {% for attendee in event.attendees.all %}
                <div class="card p-2">
                    <div class="card-title">{{ attendee.user.first_name }} {{ attendee.user.last_name }} ({{ attendee.pax }} pax)</div>
                    <a class="card-text" href="mailto: {{ attendee.user.email }}">{{ attendee.user.email }}</a> 
                    <form action="{% url 'floral_jamming:remove_attendee' attendee.id %}" method="post">
                        {% csrf_token %}
                        <button class='btn btn-danger' type="submit">
                            Remove
                        </button>
                    </form>
                </div>
            {% empty %}
                <h5>No Attendees Yet</h5>
            {% endfor %}
        </div>
    {% elif user|is_authenticated_user %}
        {% if attendee %}
            {% include 'floral_jamming/components/form.html' with button_label="Update Registration" %}
            <form action="{% url 'floral_jamming:cancel_sign_up' event.id %}" method="post">
                {% csrf_token %}
                <button class='btn btn-danger' type="submit">
                    Cancel Registration
                </button>
            </form>
        {% else %}
            {% include 'floral_jamming/components/form.html' with button_label="Register" %}
        {% endif %}
    {% else %}
        {% if attendee %}
            <a href="{% url 'floral_jamming:sign_up' event.id %}">
                <button class='btn btn-secondary my-2'>Edit Registration</button>
            </a> 
        {% else %}
            <a href="{% url 'floral_jamming:login' event.id %}">
                <button class='btn btn-success my-2'>Log In to Register</button>
            </a>
            <a href="{% url 'floral_jamming:sign_up' event.id %}">
                <button class='btn btn-secondary my-2'>Register as Guest</button>
            </a> 
        {% endif %}
    {% endif %}

{% endblock %} 

{% block script %}
{% endblock%}
