{% extends 'floral_jamming/layout.html' %}

{% block body %}
        {% if message %}
            <h4 class="text-center text-danger">{{ message }}. Please request a new token.</h4>
        {% else %}
            <h4 class="text-center text-success">Your email has been verified!</h4>
            {% comment %} <div class="d-flex justify-content-center">
                <a href="{% url 'floral_jamming:login' %}">Proceed to Login</a>
            </div> {% endcomment %}
        {% endif %}
{% endblock %}