{% extends 'floral_jamming/layout.html' %}
{% load static %}
{% load templates %}

{% block body %}
    {% if message %}
        <h4 class="text-center text-danger">{{ message }}. Please request a new token.</h4>
    {% else %}
        <h4 class="text-center text-success">{{ success_message }}</h4>
    {% endif %}
    {% if user|is_authenticated_user %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'floral_jamming:login' %}">Proceed to Login</a>
        </div>
    {% endif %}
{% endblock %}