{% extends 'floral_jamming/layout.html' %} 
{% load static %} 

{% block body %}
    {% if attendee %}
        {% include 'floral_jamming/components/form.html' with title='Edit Registration' button_label='Update' %}
        <form action="{% url 'floral_jamming:cancel_sign_up' event.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Unregister</button>
        </form>
    {% else %}
        {% include 'floral_jamming/components/form.html' with title='Register as Guest' button_label='Register' %}
        <a href="{% url 'floral_jamming:details' event.id %}">
            <button class="btn btn-danger">Cancel Registration</button>
        </a>
    {% endif %}
{% comment %} 
    <h2 class="mb-4">
        {{ attendee|yesno:"Edit Registration,Register as Guest"}}
    </h2>
    {% if message %}
        <div class="text-danger">{{ message }}</div>
    {% endif %}
    <form action="{% url 'floral_jamming:sign_up' event.id %}" method="post">
        {% csrf_token %}
        <div class="form-group m-2">
            {% for field in attendee_form %}
                <div class="form-row my-2">
                    {{ field }}
                </div>
            {% endfor %}
            {% for field in guest_form %}
                <div class="form-row my-2">
                    {{ field }}
                </div>
            {% endfor %}

        </div>
        <button class='btn btn-success my-2' type="submit">
            {{ attendee|yesno:"Update Registration,Register" }}
        </button>
    </form>

    {% if attendee %}
        <form action="{% url 'floral_jamming:cancel_sign_up' event.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Unregister</button>
        </form>
    {% else %}
        <a href="{% url 'floral_jamming:details' event.id %}">
            <button class="btn btn-danger" type="submit">Cancel Registration</button>
        </a>
    {% endif %} {% endcomment %}

{% endblock %}

{% block script %}
{% endblock %}