{% extends 'floral_jamming/layout.html' %} 
{% load static %} 

{% block body %}
    <h2 class="mb-4">Register as Guest</h2>
    {% if message %}
        <div class="text-danger">{{ message }}</div>
    {% endif %}
    <form action="{% url 'floral_jamming:details' event.id %}" method="post">
        {% csrf_token %}
        <div class="form-group m-2">
            <input id="guest_id" name='guest_id' type='hidden'></input>
            {% for field in form %}
                <div class="form-row my-2">
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button class='btn btn-success my-2' type="submit">Register</button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'floral_jamming/details.js' %}"></script>
{% endblock %}