{% extends 'floral_jamming/layout.html' %} 
{% load static %} 

{% block body %}
    <div id="app"></div>
    {% for session in sessions %}
    <div class="card m-3">
        <div class="card-body">
            <a href="">
                <h3 class="card-title text-dark">{{ session.title }}</h3>
            </a>
            <div class="card-text">
                <div>${{ session.price }}</div>  
                <div>Participants: {{ session.num_attendees }}/{{ session.capacity }}</div>
            </div>
        </div>
    </div>
    {% empty %}
        <h2>No sessions yet</h2>
    {% endfor %}
{% endblock %} 

{% block script %}
    <script type="text/babel" src="{% static 'floral_jamming/staff.js' %}"></script>
{% endblock%}
