{% extends 'floral_jamming/layout.html' %}
{% load static %}
{% load templates %}

{% block body %}
    <div class="container">
        <div class="text-center m-2">
            We have sent a verification email to {{ user.email }}. 
            Please click the link to 
            {% if user|is_authenticated_user %}
                reset your password.
            {% elif event_id > 0 %}
                confirm your registration.
            {% else %}
                activate your account.
            {% endif %}
        </div>
        <div class="text-center text-danger m-2">{{ message|default:"" }}</div>    
        <div class="d-flex justify-content-center">
            <a href="{% url 'floral_jamming:verify_email' user.id event_id as url %}" class="m-2">
                <button class="btn btn-primary">Resend Email</button>
            </a>
            {% if not user|is_guest_user %}
                <a href="{% url "floral_jamming:login" event_id %}" class="m-2">
                    <button class="btn btn-success">Go to Login</button>
                </a>
            {% endif %}
            {% if event_id > 0 %}
                <a href="{% url "floral_jamming:details" event_id %}" class="m-2">
                    <button class="btn btn-secondary">Back to event</button>
                </a>
            {% endif %}
            
        </div>
    </div>

{% endblock %}