{% extends 'floral_jamming/layout.html' %}
{% load static %}
{% load templates %}

{% block body %}
    <div class="container">
        <div class="text-center m-2">We have sent a verification email to {{ inactive_user.email }}. Please click the link to activate your account.</div>
        <div class="text-center text-danger m-2">{{ message }}</div>    
        <div class="d-flex justify-content-center">
            <a href="{% url 'floral_jamming:verify_email' inactive_user.id event_id %}" class="m-2">
                <button class="btn btn-primary">Resend Email</button>
            </a>
            <a href="{% url "floral_jamming:login" event_id %}" class="m-2">
                <button class="btn btn-secondary">Back to Login</button>
            </a>
        </div>
    </div>


{% endblock %}