{% extends 'floral_jamming/layout.html' %} 
{% load static %} 
{% load templates %}

{% block body %}
    {% if attendee %}
        {% include 'floral_jamming/details/registration_callout.html' %}
    {% endif %}
    
    {% include 'floral_jamming/details/event_details.html' %}

    {% if user|is_staff_user and user == event.creator %}
        {% include 'floral_jamming/details/creator_view.html' %}
    {% elif user|is_authenticated_user %}
        {% include 'floral_jamming/details/authenticated_user_view.html' %}
    {% else %}
        {% include 'floral_jamming/details/guest_user_view.html' %}
    {% endif %}

{% endblock %} 

{% block script %}
{% endblock%}
