{% load templates %}

{% if attendee %}

    {% url 'floral_jamming:sign_up' event.id as btn_url %}
    {% include 'floral_jamming/components/link_btn.html' with button_label="Edit Registration" button_colour="secondary" %}

{% else %}

    {% url 'floral_jamming:login' event.id as btn_url %}
    {% include 'floral_jamming/components/link_btn.html' with button_label="Log In to Register" %}

    {% url 'floral_jamming:sign_up' event.id as btn_url %}
    {% include 'floral_jamming/components/link_btn.html' with button_label="Register as Guest" button_colour="secondary" %}

{% endif %}